.contenedor{
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    min-height: 5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor2{
    padding: 0.3rem;
    display: flex;
    flex-grow: 5;
    gap:0.5rem;
    min-height: 5rem;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    right: 0px;
}
.item{
    background-color: salmon;
    padding: 0.25rem;
    width: 8rem;
}
.item-principal{
    border: 3px solid
}
@media(max-width:640px){
.contenedor{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
}
